/*Global Styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}


/*spinner*/

.spinner-wrapper {
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
    animation: spin .5s infinite linear;
}

.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/*Header*/

header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand {
    width: 2rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}


/*hero*/

.hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(0, 0, 51, 0.8) 0%, rgba(75, 73, 82, 0.8) 100%), url("images/invest.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%)
}

.main-message h3 {
    font-size: 1.6rem;
}

.main-message h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}


/* .main-message p {
    text-transform: lowercase;
} */

.btn {
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: #ce587b;
}


/* About */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

.learn-content {
    padding-top: 20px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar {
    border-radius: 16px;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 20px;
}


/* Programs */

#programs {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(001.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#programs h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#programs h1::after {
    content: " ";
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.programs {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    /* width: 80px;
    border: 1px solid #fff;
    border-radius: 50%; */
}

#programs p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}


/* Price */

#price {
    padding: 40px 0;
    background: #efefef;
}

.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover {
    box-shadow: 0 2px 20px #333;
}

.price-head {
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span {
    font-size: 15px;
}

.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child {
    border: none;
}

.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button {
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover {
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

#price h1 {
    text-align: center;
    color: black !important;
    padding-bottom: 10px;
}

#price h1::after {
    content: " ";
    background: black;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}


/* footer {
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0, 0, 0, .7);
} */

footer {
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content {
    /*overflow: hidden;*/
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .asterisk {
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--secondary-font-color);
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.newsletter-btn {
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
    margin-left: 10.5rem;
}


/*Media queries*/

@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }
}

@media screen and (min-width: 470px) {
    .hero::before {
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }
    .quotes::before {
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }
    .nav-brand {
        width: 3.5rem;
    }
    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons {
        display: none;
    }
    .nav-item {
        margin: 0 2.5rem;
    }
    .nav-link,
    .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }
    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }
    .current::before {
        transform: scaleX(1);
    }
    .nav-link:hover::before {
        transform: scaleX(1);
    }
    .hero {
        height: 60vh;
    }
    .main-message {
        transform: translateY(50%);
    }
    .title-heading h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px) {
    .hero::before {
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }
    .quotes::before {
        height: 22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 75vh;
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}