<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipsmakerfx | Learn</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.png" />
    <!--Ion Icons-->
    <!-- <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> -->
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Ion Icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <!-- popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="fontawesome-free-5.15.2-web/fontawesome-free-5.15.2-web/css/fontawesome.css">
    <script src="fontawesome-free-5.15.2-web/fontawesome-free-5.15.2-web/js/fontawesome.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link rel="stylesheet" href="../static/learn.css">
</head>

<body>
    <div class='spinner-wrapper'>
        <div class="spinner"></div>
    </div>

    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="/">
                        <img src="images/white favicon.png" alt="">
                    </a>
                </div>

                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item">
                        <a href="/explore" class="nav-link current">Explore</a>
                    </li>



                    <li class="nav-item">
                        <a href="/invest" class="nav-link">Invest</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <section class="hero" id="hero">
            <div class="container">
                <div class="main-message">
                    <h1>LEARN</h1>
                    <p>
                        At</style> <b style="text-transform:Uppercase;">PIPSMAKERS FX</b> we don't only help you manage your account we also <b style="text-transform:uppercase">TEACH</b>, We want you to achieve greatness from help how to trade the Forex
                        market
                    </p>
                    <div class="cta">
                        <a href="/explore" class="btn">Enroll</a>
                    </div>

                </div>
            </div>
        </section>


        <section id="learn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>PIPSMAKERSFX EDUCATION</h2>
                        <div class="learn-content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores nesciunt aperiam libero fugiat facere ipsum dicta necessitatibus in soluta veritatis adipisci modi sit, temporibus delectus rem, minima, corrupti debitis repellat.

                        </div>

                    </div>
                    <div class="col-md-6 skills-bar">
                        <p>Beginner</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%;">100%</div>
                        </div>
                        <p>Intermediate</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%;">100%</div>
                        </div>
                        <p>Advance</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%;">100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Programs -->
        <section id="programs">
            <div class="container">
                <h1>Programs</h1>
                <div class="row programs">
                    <div class="col-md-4 text-center">
                        <div class="icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <h3>Beginner</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt magni illo aliquid quia repellendus vitae est quasi unde explicabo perferendis veniam excepturi mollitia, hic tempore placeat quidem dicta aliquam quisquam.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <h3>Intermediate</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt magni illo aliquid quia repellendus vitae est quasi unde explicabo perferendis veniam excepturi mollitia, hic tempore placeat quidem dicta aliquam quisquam.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="icon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <h3>Advance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt magni illo aliquid quia repellendus vitae est quasi unde explicabo perferendis veniam excepturi mollitia, hic tempore placeat quidem dicta aliquam quisquam.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscription Plans -->
        <section id="price">
            <div class="container">
                <h1>Packages</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-price">
                            <div class="price-head">
                                <h2>Beginner</h2>
                                <p>$50/<span>Month</span></p>
                            </div>
                            <div class="price-content">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>PDFs</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Videos</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Signals</li>
                                    <li><i class="fas fa-times-circle"></i>Crypto</li>
                                    <li><i class="fas fa-times-circle"></i>Binary</li>
                                    <li><i class="fas fa-times-circle"></i>Live Trading Sessions</li>
                                    <li><i class="far fa-check-circle"></i>Study groups</li>
                                    <li><i class="fas fa-times-circle"></i>Access to Educators Personal number</li>
                                    <li><i class="fas fa-times-circle"></i>2-Months Mentorship</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="https://paystack.com/pay/beginnerpips" class="buy-btn">Proceed to Payment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-price">
                            <div class="price-head">
                                <h2>Intermediate</h2>
                                <p>$100/<span>Month</span></p>
                            </div>
                            <div class="price-content">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>PDFs</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Videos</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Signals</li>
                                    <li><i class="far fa-check-circle"></i>Crypto</li>
                                    <li><i class="fas fa-times-circle"></i>Binary</li>
                                    <li><i class="far fa-check-circle"></i>Live Trading Sessions</li>
                                    <li><i class="far fa-check-circle"></i>Study groups</li>
                                    <li><i class="fas fa-times-circle"></i>Access to Educators Personal number</li>
                                    <li><i class="far fa-check-circle"></i>2-Months Mentorship</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="https://paystack.com/pay/intermediatepips" class="buy-btn">Proceed to Payment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-price">
                            <div class="price-head">
                                <h2>Advance</h2>
                                <p>$200/<span>Month</span></p>
                            </div>
                            <div class="price-content">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>PDFs</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Videos</li>
                                    <li>
                                        <i class="far fa-check-circle"></i>Signals</li>
                                    <li><i class="far fa-check-circle"></i>Crypto</li>
                                    <li><i class="far fa-check-circle"></i>Binary</li>
                                    <li><i class="far fa-check-circle"></i>Live Trading Sessions</li>
                                    <li><i class="far fa-check-circle"></i>Study groups</li>
                                    <li><i class="far fa-check-circle"></i>Access to Educators Personal number</li>
                                    <li><i class="far fa-check-circle"></i>2-Months Mentorship</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="https://paystack.com/pay/advancedpips" class="buy-btn">Proceed to Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- 
        <section class="begin-adventure">
            <div class="container">
                <a href="/contact" class="btn">contact us</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2021 Pipsmakerfx. All rights reserved.</p>
    </footer> -->
        <footer>
            <div class="container">
                <div class="back-to-top">
                    <a href="#hero"><i class="fas fa-chevron-up"></i></a>
                </div>
                <div class="footer-content">
                    <div class="footer-content-about animate-up">
                        <h4>About PIPSMAKER FX</h4>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quia eveniet ratione illum est odit. Quibusdam, delectus magni quod aperiam sint modi! Officia quaerat asperiores labore libero quisquam commodi fugit?</p>
                    </div>
                    <div class="footer-content-divider animate-bottom">
                        <div class="social-menu">
                            <h4>Follow US</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                        <div class="newsletter-container">
                            <h4>Contact US</h4>
                            <form action="" class="newsletter-form">
                                <input type="text" class="newsletter-input" placeholder="Your Email Address">
                                <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelop"></i>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            //Function expression to select element
            const selectElement = (s) => document.querySelector(s);
            //Open the menu on click
            selectElement('.open').addEventListener('click', () => {
                selectElement('.nav-list').classList.add('active');
            });
            //Close the menu on click
            selectElement('.close').addEventListener('click', () => {
                selectElement('.nav-list').classList.remove('active');
            });

            let spinnerWrapper = document.querySelector('.spinner-wrapper');

            window.addEventListener('load', function() {
                // spinnerWrapper.style.display = 'none';
                spinnerWrapper.parentElement.removeChild(spinnerWrapper);
            });
        </script>

</body>

</html>