<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/thankyou.css">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link rel="preconnect" href="https://font  s.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Thank You | Pipsmaker FX</title>

</head>

<body>
    <section>
        <div class="banner-text text-center center-block">
            <h1>
                Message Recieved, Thank you!
            </h1>
            <a href="/home">
                <button class="btn btn-success" name="btn-send">PROCEED</button>
            </a>
        </div>

    </section>
</body>

</html>